* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu-left {
    float: left;
}

.menu-right {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    /* Style for "HOME     P" */
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu-link-feat {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #6c6c6c;
    padding-right: 30px;
}

.menu-link-feat-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu-exploreall {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    padding-top: 10px;
}

.featured-product {
    margin: 120px 0;
    padding: 0 98px;
    height: 369px;
}

.tab-controll {}

.tab-content {
    clear: both;
    padding: 68px 0;
}

.icon {
    position: absolute;
    top: 0;
    visibility: hidden;
    height: 100%;
    opacity: 0;
}

.icon-name {
    color: #212121;
    font-weight: 700;
    line-height: 29.88px;
    text-align: center;
}

.icon-details {
    color: #6c6c6c;
    font-weight: 300;
    line-height: 21.91px;
    font-size: 12px;
    text-align: center;
    padding: 0 32px;
}

.product-link {
    width: 270px;
    height: 270px;
    float: left;
    position: relative;
}

.margin-left {
    margin-left: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.product-link-icon:hover img {
    opacity: 0.3;
}

.product-link:hover .icon {
    visibility: visible;
    opacity: 1;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button img {
    padding-left: 10px;
}

.button-icon {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-left: 111px;
    margin-top: 62px;
}

.button-icon img {
    padding: 18px 12px;
}

.menu-link img {
    height: 18px;
    padding-top: 15px;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.pagination {
    width: 30px;
    height: 30px;
    bottom: 19px;
    text-align: center;
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.promo-content {
    height: 683px;
}

.promo-product {
    float: left;
    position: relative;
}

.promo-product-descr {
    top: 0;
    position: absolute;
    padding-top: 228px;
    padding-left: 51px;
    width: 374px;
}

.promo-img {
    width: 683px;
    height: 683px;
}

.promo-tag {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-name {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-details {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    margin-bottom: 34px;
}

.trending-product {
    padding: 119px 97px;
    height: 869px;
}

.trending-product-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-product-container {
    padding-top: 64px;
}

.trending-product-container img {
    float: left;
    width: 370px;
    height: 370px;
}

.hot-deals {
    height: 800px;
    background-image: url(../img/slider.jpg);
    position: relative;
}

.hot-deals-tag {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.hot-deals-container {
    padding-top: 287px;
}

.exclusive-content {
    height: 570px;
    padding: 120px 98px;
}

.exclusive-product {
    float: left;
    position: relative;
}

.exclusive-img-lg {
    width: 570px;
    height: 570px;
}

.exclusive-product-sm {
    float: left;
    height: 270px;
    width: 270px;
}

.exclusive-product-descr {
    top: 0;
    position: absolute;
    padding-top: 228px;
    padding-left: 51px;
    width: 332px;
}

.mobile-app {
    height: 516px;
    background-image: url(../img/back-img.jpg);
    position: relative;
}

.mobile-app-container {
    width: 600px;
    padding-left: 99px;
    padding-top: 125px;
}

.mobile-app-tag {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-app-h2 {
    color: #6c6c6c;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.mobile-app-button {
    margin-right: 10px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
    padding-left: 98px;
    padding-top: 120px;
}

.footer-content {
    float: left;
    list-style-type: none;
}

.footer-content-1 {
    width: 221px;
}

.footer-content-text-1 {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer-content-2 {
    width: 422px;
}

.footer-content-text-2 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "Sales term" */
    letter-spacing: 0.7px;
}

.footer-content-3 {
    width: 370px;
}

.footer-content-text-3 {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.menu-left-footer {
    margin-left: 80px;
}

.footer-content-header {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 25px;
}

.input-email {
    border: 1px solid #d9dee1;
    width: 320px;
    height: 48px;
    margin-top: 25px;
    padding-left: 17px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.input-submit {
    margin-left: -50px;
    height: 48px;
    width: 50px;
    border: 0;
}

.margin-left-footer {
    margin-left: 90px;
}

.footer-content a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "Sales term" */
    letter-spacing: 0.7px;
}

.footer-content-4 {
    clear: both;
    padding-top: 150px;
}

.footer-content-4 table {
    width: 100%;
}

.footer-content-4 td {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "©,  Copyri" */
    letter-spacing: 0.6px;
}

.footer-content-4 a {
    text-decoration: none;
    color: #6c6c6c;
}